<nav role="navigation">
  <ul class="nav bare-list">
    <li><a class="btn btn--callout plm" href="/docs">Get Started</a></li>
    <li><a href="/docs/namespace">Scales Namespace Variable</a></li>
    <li><a href="/docs/utilities/normalize">Utilities Normalize</a></li>
    <li><a href="/docs/utilities/reset">Ulitities Reset</a></li>
    <li><a href="/docs/utilities/clearfix">Utilities Clearfix</a></li>
    <li><a href="/docs/base/typography">Base Typography</a></li>
    <li><a href="/docs/base/images">Base Images</a></li>
    <li><a href="/docs/base/lists">Base Lists</a></li>
    <li><a href="/docs/base/blockquotes">Base Blockquotes</a></li>
    <li><a href="/docs/base/forms">Base Forms</a></li>
    <li><a href="/docs/base/tables">Base Tables</a></li>
    <li><a href="/docs/pattern/box">Pattern Box</a></li>
    <li><a href="/docs/pattern/horizontal-list">Pattern Horizontal List</a></li>
    <li><a href="/docs/pattern/vertical-list">Pattern Vertical List</a></li>
    <li><a href="/docs/pattern/media-object">Pattern Media Object</a></li>
    <li><a href="/docs/pattern/flag">Pattern Flag</a></li>
    <li><a href="/docs/pattern/buttons">Pattern Buttons</a></li>
    <li><a href="/docs/pattern/split">Pattern Split</a></li>
    <li><a href="/docs/pattern/stats">Pattern Stats</a></li>
    <li><a href="/docs/pattern/multi-col-list">Pattern Multi-Column List</a></li>
    <li><a href="/docs/override/size">Override Size</a></li>
    <li><a href="/docs/override/spacing">Override Spacing</a></li>
  </ul>
</nav>
