<header class="doc-header" role="banner">
  <div class="l-aside">
    <div class="doc-header__logo">
      <a href="/"><img src="/images/scales-logo-alt.svg" alt="Scales CSS"></a>
    </div>
    <div class="doc-header__nav">
      {% include docs-nav.html %}
    </div>
  </div>
  <div class="doc-header__meta l-main">
    <div class="inner">
      <h1 class="heading--primary mbn">{{page.title}}</h1>
      <a href="{{page.github}}" class="btn btn--github">View on Github</a>
    </div>
  </div>
</header>
